# blockchain/node_modules
# frontend/node_modules
# server/node_modules
# server/.env
CrowdFunding.code-workspace
.vscode
blockchain/artifacts
blockchain/cache
# package.json
node_modules
.env
coverage
logs.log